
<div style="margin-left: 45%;"> 
<mat-slide-toggle (change)="changetheme()" [color]="color">
  <div style="font-family: 'Concert One', cursive;">
  {{this.name}}
  </div>
</mat-slide-toggle>
</div>
<div id="myGrid" [class]="class_name" style="font-family: 'Concert One', cursive;" >
  <ag-grid-angular #agGrid id="myGrid" style="width: 100%; height: 100%;" class="ag-theme-bootstra" [rowData]="rowData | async"
    [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="10" [animateRows]="true" (columnResized)="onColumnResized($event)" [defaultColDef]="defaultColDef"
    [floatingFilter]="true" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
