
<mat-slide-toggle (change)="changetheme($event)"
class="example-margin"
[color]="color"
>
{{this.name}}
</mat-slide-toggle>
<div id="myGrid" [class]="class_name">
<ag-grid-angular 
    #agGrid
    id="myGrid"
    style="width: 1335px; height: 400px;" 
    class="ag-theme-bootstra"
    [rowData]="rowData | async" 
    [columnDefs]="columnDefs"
    [pagination]="true"
    [paginationPageSize]="10"
    [defaultColDef]="defaultColDef"
    [floatingFilter]="true"
    (gridReady)="onGridReady($event)"
    >
</ag-grid-angular>
</div>
